.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-userName {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.tw-followCard-btn {
  cursor: pointer;
  margin-left: 16px;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: 0.3s ease background-color;
}

.tw-followCard-btn:hover {
  opacity: 0.8;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 140px;
}

.tw-followCard-btn.is-following:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: 0.3s ease all;
  opacity: 1;
}

.tw-followCard-btn.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-btn.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}
